<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <services>
      <service name="JJY.WCF.Service.AccountService" behaviorConfiguration="SampleBehavior">
        <endpoint name="" binding="netTcpBinding" bindingConfiguration="NewBinding0" contract="JJY.WCF.Interface.IAccount"></endpoint>
        <endpoint name="mex" binding="mexTcpBinding" contract="IMetadataExchange" address="net.tcp://localhost:8084/accoun/mex"></endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8083/account"/>
          </baseAddresses>
        </host>
      </service>
      <service name="JJY.WCF.Service.GoodService" behaviorConfiguration="SampleBehavior">
        <endpoint name="" binding="netTcpBinding" bindingConfiguration="NewBinding0" contract="JJY.WCF.Interface.IGood"></endpoint>
        <endpoint name="mex" binding="mexTcpBinding" contract="IMetadataExchange" address="net.tcp://localhost:8084/good/mex"></endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8083/good"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="NewBinding0" sendTimeout="00:10:00" transferMode="Buffered" 
                 maxBufferPoolSize="524288" maxBufferSize="6553600"
                 maxConnections="10" maxReceivedMessageSize="6553600">
          <security mode="Message">
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
      </netTcpBinding>
      <mexTcpBinding>
        <binding name="mexBinding" />
      </mexTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="SampleBehavior">
          <serviceMetadata httpGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceCredentials>
            <serviceCertificate findValue="JJYService" x509FindType="FindBySubjectName" storeName="My" storeLocation="LocalMachine"/>
            <clientCertificate>
              <authentication certificateValidationMode="None"/>
            </clientCertificate>
            <userNameAuthentication userNamePasswordValidationMode="Custom" 
                                    customUserNamePasswordValidatorType="JJY.WCF.ConsLanuch.Validator,JJY.WCF.ConsLanuch"/>
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>

      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>